h1 { text-align: center; background: cyan; color: black;}
h2 {text-align: center; background: cornflowerblue; color: darkgreen;}
h3 {text-align: left; background: lime;color: purple;}
img {width: 400px;}
.textAkter {text-align: justify; background: yellowgreen; color: midnightblue;}